.window{
    background: white;
    
}


.circle-head{
    min-width: 120px;
    min-height: 120px;
    max-height: 120px;
    max-width: 120px;
    margin-top: -60px;
    background: lightcoral;
    border-radius: 100%;

}


.main-label{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    font-size: 18px;
}

.line-head{
    min-height: 60px;
    max-height: 60px;
    background: lightcoral;
}


.main-entry{
    background: white;
    color: black;
    border: 1px solid lightcoral;

}



.main-entry-pass{
    background: white;
    color: black;
    border: 1px solid lightcoral;
}


.main-button{
    background: lightcoral;
    color:white;
    transition: all 0.3s;
    border: white;

}


.main-button:hover{
    background: rgb(252, 96, 96);
    
}


.item-box {
    max-width: 800px;
}


.enter-button-different{
    background: white;
    color:grey;
    border: none;
    transition: all 0.1s;
    border-radius: 0px;
    cursor: pointer;
    
}


.enter-button-different:hover{
    color:rgb(36, 36, 36);
   

}


.cabinet_page{
    background: white;
}

.last_button{
    background: lightcoral;
    color: white;
    border: none;
}


.balance-label{
    color:black;
    font-weight: bold;
}


.label_user{
    color:black;
    font-weight: bold;
}


.card_label{
    color: black;
    font-weight: bold;
}


.user-card-box{
    border: 0px solid #000;
    border-radius: 10px;
    transition:all 0.5s;
    background: linear-gradient(to bottom right,rgba(240, 128, 128,0.5),rgba(240, 128, 128,0.4));
}

.user-card-box:hover{ 
    background: linear-gradient(to bottom right,rgba(240, 128, 128,0.8),rgba(240, 128, 128,0.7));
    transform: scale(1.05);
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 
                0 2px 4px 2px rgba(0, 0, 0, 0.06);
}




.border-black-box{
    border: 1px solid #000;
    border-radius: 10px;
}


.user-card-box-1{
    border: 0px solid #000;
    border-radius: 10px;
    transition:all 0.5s;
    background: linear-gradient(to bottom right,rgba(240, 128, 128,0.5),rgba(240, 128, 128,0.4));
}


.user-card-box-1:hover{
    background: linear-gradient(to bottom right,rgba(240, 128, 128,0.8),rgba(240, 128, 128,0.7));
    transform: scale(1.05);
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 
                0 2px 4px 2px rgba(0, 0, 0, 0.06);
}


.user-card-box-2{
    border-radius: 10px;
    transition:all 0.5s;
    
}

.user-card-box-2:hover{

    transform: scale(1.05);
}


.button-column{
    background: linear-gradient(to bottom right,rgba(240, 128, 128,0.5),rgba(240, 128, 128,0.4));
    transition:all 0.6s;
    font-weight:900;
    color: white;
    border: none;

}


.button-column:hover{
    transform: scale(1.03);
    background: linear-gradient(to bottom right,rgba(240, 128, 128,0.8),rgba(240, 128, 128,0.7));
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 
                0 2px 4px 2px rgba(0, 0, 0, 0.06);
}



.button-column:focus{
    transform: scale(1.03);
    background: linear-gradient(to bottom right,rgba(240, 128, 128,0.8),rgba(240, 128, 128,0.7));
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 
                0 2px 4px 2px rgba(0, 0, 0, 0.06);
}


.history{
    font-weight: bold;
}


.dialog-box{
    background: white;
}


.dialog-label{
    font-weight: bold;
    color:#000;
}